[Desktop Entry]
Encoding=UTF-8
Version=Beta
Type=Application
Terminal=false
Icon=/usr/share/pixmaps/wuala.png
Name=Wuala
Exec=wuala
Comment[en]=Wuala is a new way of storing, sharing, and publishing files on the internet. Free, simple, and secure.
Comment=Wuala is a new way of storing, sharing, and publishing files on the internet. Free, simple, and secure.
Categories=Application;Network;
